* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrapper {
  padding: 60px;
}

.team_block {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, auto));
}
.team_block img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.team_info {
  padding: 30px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #F5F5FA;
}
.team_name {
  font-weight: 700;
  color: #B3B3BA;
}
.team_job {
  margin-top: 6px;
  color: #B3B3BA;
  font-size: 14px;
}

.common_link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #24A3FF;
  margin-bottom: 5px;
}

.common_title {
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(90deg, rgb(240, 20, 90), rgb(239, 128, 128));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.public {
  background-color: #F5F5FA;
}
.public_title {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.public_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.public_card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.public .card_img {
  width: 100%;
}
.public .card_info {
  padding: 30px;
}
.public .card_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #24A3FF;
}
.public .card_date {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #B3B3BA;
  text-transform: uppercase;
  margin: 15px 0;
}
.public .card_text {
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.7;
  position: relative;
}
.public .card_text::before {
  content: "";
  position: absolute;
  background-color: #E6E6F0;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

@media (min-width: 375px) {
  .wrapper {
    padding: 30px;
  }
  .team_block {
    grid-template-columns: repeat(1, minmax(315px, auto));
  }
  .team_block img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .team_info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .common_title {
    font-size: 30px;
  }
  .public_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .wrapper {
    padding: 60px;
  }
  .team_block {
    grid-template-columns: 1fr;
  }
  .team_block img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .team_info {
    border-top-right-radius: 0;
    border-bottom-left-radius: 12px;
  }
  .common_link {
    font-size: 14px;
  }
  .common_title {
    font-size: 38px;
  }
  .public_cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .card_img {
    height: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  .public_card:nth-child(3) {
    grid-column: 1/-1;
  }
  .public_card:nth-child(3) img {
    object-fit: cover;
    overflow: hidden;
  }
}
@media (min-width: 1024px) {
  .team_block {
    grid-template-columns: repeat(2, minmax(400px, auto));
  }
  .team_block img {
    height: 100%;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
  }
  .team_info {
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
  }
  .public_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .public_card:nth-child(3) {
    grid-column: auto;
  }
}
@media (min-width: 1440px) {
  .team_block img {
    max-height: 344px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding: 60px 160px;
  }
  .team_block img {
    max-height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
