@media (min-width: 375px) {
    .wrapper {
        padding: 30px;  
    }
    
    .team {
        &_block {
            grid-template-columns: repeat(1, minmax(315px, auto));
            
            img {
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                border-bottom-left-radius: 0;
                border-top-right-radius: 12px;
            }
        }

        &_info {
            border-top-right-radius: 0;
            border-bottom-right-radius: 12px; 
            border-bottom-left-radius: 12px;
        }
    }

    .common_title {
        font-size: 30px;
    }

    .public_cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .wrapper {
        padding: 60px;
    }

    .team {
        &_block {
            grid-template-columns: 1fr;
            
            img {
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                border-bottom-left-radius: 0;
                border-top-right-radius: 12px;
            }
        }

        &_info {
            border-top-right-radius: 0;
            border-bottom-left-radius: 12px;
        }
    }

    .common_link {
        font-size: 14px;
    }

    .common_title {
        font-size: 38px;
    }

    .public_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        &_img {
            height: 200px;
            object-fit: cover;
            overflow: hidden;
        }
    }

    .public_card:nth-child(3) {
        grid-column: 1 / -1;

        img {
            object-fit: cover;
            overflow: hidden;
        }
    }

}

@media (min-width: 1024px) {
    .team {
        &_block {
            grid-template-columns: repeat(2, minmax(400px, auto));
            
            img {
                height: 100%;
                border-bottom-left-radius: 12px;
                border-top-right-radius: 0;
            }
        }

        &_info {
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0;
        }
    }

    .public_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .public_card:nth-child(3) {
        grid-column: auto;
    }
}

@media (min-width: 1440px) {
    .team_block {
        img { 
            max-height: 344px;
        }
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding: 60px 160px;
    }

    .team_block {
        img { 
            max-height: 300px;
        }
    }
}